<?xml version="1.0"?>
<config>
    <modules>
       <Akatus_Akatus>
<!-- declare module's version information for database updates -->
          <version>0.1.0</version>
       </Akatus_Akatus>
    </modules>
 
    <global>
    	<fieldsets>
    		 <sales_convert_quote_payment>
    		 	<check_no>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_no>
    		 	<check_date>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_date>
    		 	<check_cartaobandeira>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_cartaobandeira>
    		 	<check_nome>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_nome>
    		 	<check_cpf>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_cpf>
    		 	<check_numerocartao>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_numerocartao>
    		 	<check_expiracaomes>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_expiracaomes>
    		 	<check_expiracaoano>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_expiracaoano>    		 	
    		 	<check_codseguranca>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_codseguranca>
    		 	<check_parcelamento>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_parcelamento>    		 	
    		 	<check_tefbandeira>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_tefbandeira>
    		 	<check_formapagamento>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_formapagamento>
    		 </sales_convert_quote_payment>
    	</fieldsets>



    <blocks>
        <akatus>
            <class>Akatus_Akatus_Block</class>
        </akatus>
    </blocks>
 
<!-- declare model group for new module -->
        <models>
<!-- model group alias to be used in Mage::getModel('newmodule/...') -->
            <akatus>
<!-- base class name for the model group -->
                <class>Akatus_Akatus_Model</class>
            </akatus>
        </models>
 
		<!-- declare resource setup for new module -->
        <resources>
			<!-- resource identifier -->
            <akatus_setup>
				<!-- specify that this resource is a setup resource and used for upgrades -->
                <setup>
					<!-- which module to look for install/upgrade files in -->
                    <module>Akatus_Akatus</module>
                    <class>Akatus_Akatus_Model_Resource_Mysql4_Setup</class>
                </setup>
				<!-- specify database connection for this resource -->
                <connection>
					<!-- do not create new connection, use predefined core setup connection -->
                    <use>core_setup</use>
                </connection>
            </akatus_setup>
            <akatus_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </akatus_write>
            <akatus_read>
               <connection>
                <use>core_read</use>
              </connection>
            </akatus_read>
        </resources>
        
        <helpers>
            <class>Akatus_Akatus_Helper</class>
        </helpers>        
        
    </global>
 
 
 
<!-- declare default configuration values for this module -->
  <default>
		<!-- 'payment' configuration section (tab) -->
        <payment>
			<!-- 'newmodule' configuration group (fieldset) -->
            <akatus>
				<!-- by default this payment method is inactive -->
                <active>1</active>
                <modo>SANDBOX</modo>
                <numero_maximo_parcelas>12</numero_maximo_parcelas>
				<!-- model to handle logic for this payment method -->
                <model>akatus/pagar</model>
				<!-- order status for new orders paid by this payment method -->
                <order_status>pending</order_status>
				<!-- default title for payment checkout page and order view page -->
                <title>Akatus</title>
                <cctypes>AE,VI,MC</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </akatus>
         </payment>
    </default>
	
    <admin>
        <routers>
            <refund>
                <use>admin</use>
                <args>
                    <module>Akatus_Akatus</module>
                    <frontName>refund</frontName>
                </args>
            </refund>
        </routers>
    </admin>
	
</config>